# Data Mining Practical-4
 
Name - **Harsh Bamotra** <br>
Roll No. - **AC-1216** <br>
Course - **BSc. (H) Computer Science**

**Importing required libraries**

In [5]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### *Q. Run Apriori algorithm to find frequent itemsets and association rules :- <br><br>1. Use minimum support as 50% and minimum confidence as 75%.*

**Reading data from csv file**

In [23]:
df = pd.read_csv('basket_analysis.csv', index_col=0) 
df.head(5)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

**Calculating frequent items using minimum support as 50%**

In [39]:
freq_items = apriori(df, min_support=0.05, use_colnames=True) 
freq_items

      support                            itemsets
0    0.383383                             (Apple)
1    0.384384                             (Bread)
2    0.420420                            (Butter)
3    0.404404                            (Cheese)
4    0.407407                              (Corn)
..        ...                                 ...
942  0.051051   (chocolate, Onion, Milk, Unicorn)
943  0.050050    (chocolate, Yogurt, Onion, Milk)
944  0.054054  (chocolate, Yogurt, Onion, Nutmeg)
945  0.051051     (Yogurt, Onion, Sugar, Unicorn)
946  0.052052  (chocolate, Onion, Sugar, Unicorn)

[947 rows x 2 columns]

**Calculating association rule using minimum confidence as 75%**

In [40]:
association_rules(freq_items, metric="confidence", min_threshold=0.075)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Apple),(Bread),0.383383,0.384384,0.154154,0.402089,1.046059,0.006788,1.029610,0.071407
1,(Bread),(Apple),0.384384,0.383383,0.154154,0.401042,1.046059,0.006788,1.029482,0.071524
2,(Apple),(Butter),0.383383,0.420420,0.188188,0.490862,1.167549,0.027006,1.138354,0.232730
3,(Butter),(Apple),0.420420,0.383383,0.188188,0.447619,1.167549,0.027006,1.116289,0.247602
4,(Apple),(Cheese),0.383383,0.404404,0.162162,0.422977,1.045925,0.007120,1.032186,0.071208
...,...,...,...,...,...,...,...,...,...,...
7109,"(Sugar, Unicorn)","(chocolate, Onion)",0.181181,0.196196,0.052052,0.287293,1.464314,0.016505,1.127818,0.387248
7110,(chocolate),"(Onion, Sugar, Unicorn)",0.421421,0.096096,0.052052,0.123515,1.285333,0.011555,1.031283,0.383684
7111,(Onion),"(chocolate, Sugar, Unicorn)",0.403403,0.090090,0.052052,0.129032,1.432258,0.015709,1.044711,0.505872
7112,(Sugar),"(chocolate, Onion, Unicorn)",0.409409,0.099099,0.052052,0.127139,1.282952,0.011480,1.032125,0.373435
7113,(Unicorn),"(chocolate, Onion, Sugar)",0.389389,0.091091,0.052052,0.133676,1.467499,0.016582,1.049156,0.521721

### *2. Use minimum support as 60% and minimum confidence as 60 %.*

**Reading data from csv file**

In [41]:
df2 = pd.read_csv('basket_analysis.csv', index_col=0)
df2.head(5)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

**Calculating frequent items using minimum support as 60%**

In [43]:
freq_items2 = apriori(df2, min_support=0.06,use_colnames=True) 
freq_items2

      support                           itemsets
0    0.383383                            (Apple)
1    0.384384                            (Bread)
2    0.420420                           (Butter)
3    0.404404                           (Cheese)
4    0.407407                             (Corn)
..        ...                                ...
693  0.090090        (chocolate, Sugar, Unicorn)
694  0.095095         (chocolate, Yogurt, Sugar)
695  0.086086       (chocolate, Yogurt, Unicorn)
696  0.062062   (chocolate, Dill, Milk, Unicorn)
697  0.060060  (chocolate, Dill, Onion, Unicorn)

[698 rows x 2 columns]

**Calculating association rule using minimum confidence as 60%**

In [44]:
association_rules(freq_items2, metric="confidence", min_threshold=0.06)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Apple),(Bread),0.383383,0.384384,0.154154,0.402089,1.046059,0.006788,1.029610,0.071407
1,(Bread),(Apple),0.384384,0.383383,0.154154,0.401042,1.046059,0.006788,1.029482,0.071524
2,(Apple),(Butter),0.383383,0.420420,0.188188,0.490862,1.167549,0.027006,1.138354,0.232730
3,(Butter),(Apple),0.420420,0.383383,0.188188,0.447619,1.167549,0.027006,1.116289,0.247602
4,(Apple),(Cheese),0.383383,0.404404,0.162162,0.422977,1.045925,0.007120,1.032186,0.071208
...,...,...,...,...,...,...,...,...,...,...
3623,"(Onion, Unicorn)","(chocolate, Dill)",0.175175,0.199199,0.060060,0.342857,1.721177,0.025165,1.218610,0.507989
3624,(chocolate),"(Dill, Onion, Unicorn)",0.421421,0.093093,0.060060,0.142518,1.530917,0.020829,1.057639,0.599394
3625,(Dill),"(chocolate, Onion, Unicorn)",0.398398,0.099099,0.060060,0.150754,1.521243,0.020579,1.060824,0.569551
3626,(Onion),"(chocolate, Dill, Unicorn)",0.403403,0.101101,0.060060,0.148883,1.472619,0.019276,1.056141,0.537947
3627,(Unicorn),"(chocolate, Dill, Onion)",0.389389,0.103103,0.060060,0.154242,1.495994,0.019913,1.060465,0.542978