  ## *Multiple Lenear Regression*
 
Name - **Harsh Bamotra** <br>
Roll No. - **AC-1216** <br>
Course - **BSc. (H) Computer Science**

**Importing required libraries**

In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import r2_score

**Reading Dataset to perform Linear Regression**

In [3]:
df = pd.read_csv("Advertising.csv", index_col = 0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

**Dividing the dataset between dependent and independent variable**

In [7]:
X = df.drop(["sales"], axis = 1)
y = df["sales"]

**Dividing the data for training and testing**

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(140, 3) (60, 3) (140,) (60,)

**Building the regression model**

In [11]:
mlr = LinearRegression()

**Training the model and priting the value of intercept**

In [13]:
mlr.fit(X_train, y_train)
print(mlr.intercept_)

2.9950160533968297

**Printing the value of coffecients**

In [15]:
coff = pd.DataFrame(mlr.coef_, X.columns, columns = ["Coffecients"])
coff

           Coffecients
TV            0.044857
radio         0.190147
newspaper     0.002542

Therefore now the value sales can be predicted using following : <br>
**sales=2.880 + C*TV + C*radio + C*newspaper**

For example, if we determine a budget value of 50 for TV, 30 for radio and 10 for newspaper, the estimated value of “sales” will be:

In [16]:
example = [50, 30, 10]
output = mlr.intercept_ + sum(example*mlr.coef_)
output

10.967719178482824

**Testing the model on unseen data**

In [17]:
y_pred = mlr.predict(X_test)

**Evaluating the model using actual values**

In [20]:
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R Squared Score is:", r2_score(y_test, y_pred))

Mean Absolute Error: 1.4081407398924959
Mean Squared Error: 2.946806680019364
Root Mean Squared Error: 1.716626540637003
R Squared Score is: 0.8851316051405744