## Data Analysis and Visualisation

**Name - Harsh Bamotra** <br>
**Roll No. - AC-1216**

In [1]:
import numpy as np

**Q1. Given a list of names, use list comprehensionto reverse those names which starts with letter‘Z’ and ends with letter ‘a’.**

In [2]:
names = ["Harsh", "Robin", "Zaika", "Himanshu", "Zishana"]

In [3]:
print([i[::-1] if i[0] == "Z" and i[-1] == "a" else i for i in names])

['Harsh', 'Robin', 'akiaZ', 'Himanshu', 'anahsiZ']

**Q2. Create an array formarks in 5 subjects for 6 students where marks are in (0-100). Take another array having names of 6 students.**

In [4]:
marks = np.array([[99, 92, 95, 99, 98],
       [21, 66, 10, 43, 23],
       [97,  9, 85,  8, 91],
       [26, 97, 87, 15,  5],
       [46, 74, 98, 66, 12],
       [14,  0, 20, 69, 87]])
marks

array([[99, 92, 95, 99, 98],
       [21, 66, 10, 43, 23],
       [97,  9, 85,  8, 91],
       [26, 97, 87, 15,  5],
       [46, 74, 98, 66, 12],
       [14,  0, 20, 69, 87]])

In [5]:
name = ["Harsh", "Robin", "Zaika", "Himanshu", "Zishana", "Animesh"]

**a. Find name of students with average marks > 90.**

In [6]:
print("Students with average marks greater than 90 ::", end=" ")
for i in range(len(name)):
    if(np.mean(marks[i])>90):
        print(name[i], end="  ")

Students with average marks greater than 90 :: Harsh

**b. Count number of studentshaving marks more than that of the average of class**

In [7]:
avg = np.mean(marks)
count = 0
for i in range(marks.shape[0]):
    if(np.mean(marks[i]) > avg):
        count+=1
print("Number of students with marks greater than average :", count)

Number of students with marks greater than average : 3

**c. For each student display the number of subjects in which they have scored > 60 marks and display the following:<br>
Name of students &nbsp;&nbsp;&nbsp;&nbsp;   Number of subjects where marks > 60.**

In [8]:
for i,v in enumerate(marks):
    count = 0
    for j in v:
        if(j > 60):
            count+=1
    print("{0} {1} {2}".format(i, name[i], count))

0 Harsh 5
1 Robin 1
2 Zaika 3
3 Himanshu 2
4 Zishana 3
5 Animesh 2

**Q3. Create a 3x4 array of random numbers. Write two ways to set its second row to zero and third row to maximum value in the original matrix.**

In [9]:
arr = np.array(np.random.rand(12).reshape(3,4))
arr

array([[0.20266963, 0.81255924, 0.65031176, 0.52107902],
       [0.28746477, 0.04713396, 0.47927348, 0.31533846],
       [0.07235038, 0.81895687, 0.80031706, 0.71097043]])

**First way**

In [10]:
arr[1] = 0
arr[2] = np.max(arr)
arr

array([[0.20266963, 0.81255924, 0.65031176, 0.52107902],
       [0.        , 0.        , 0.        , 0.        ],
       [0.81895687, 0.81895687, 0.81895687, 0.81895687]])

**Second way**

In [11]:
arr[[1]][:,:] = 0
arr[[2]][:,:] = np.max(arr)
arr

array([[0.20266963, 0.81255924, 0.65031176, 0.52107902],
       [0.        , 0.        , 0.        , 0.        ],
       [0.81895687, 0.81895687, 0.81895687, 0.81895687]])

**Q4. Write a lambda function which takes an element x, and returns the reverse of the element in uppercases. Make sure element passed must be of string typeelse raise exception.**

In [12]:
ReverseUpper = lambda x: x[::-1].upper() if type(x) == str else print("Error: Not a string !!")

In [13]:
ReverseUpper("Harsh Bamotra")

'ARTOMAB HSRAH'

In [14]:
ReverseUpper(123)

Error: Not a string !!